<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-4.3.xsd"
	>
	<!-- 
	第五节:使用注解
	************************具体实现******************************************
	基于xml配置的方式难免还是显得比较笨重，当我们的组件变多了之后，我们的配置
	也就变得异常复杂。但是使用基于注解的方式就显得清爽很多了，接下来我们就来看
	一下如何使用基于注解的方式来实现它。
	 -->
	<!-- 其他配置项 -->
	<context:component-scan base-package="com.mengzhidu.bean.service,com.mengzhidu.bean.aop" annotation-config="true">
	</context:component-scan>
	
	<aop:aspectj-autoproxy proxy-target-class="true" />
	<!-- 其他配置项 -->
</beans>